.vscode
.DS_Store
*/.DS_Store

*/target
*/.idea
*/.classpath
*/.project
*/.settings
*/.factorypath
*/.metadata
*/.recommenders
*/.cache
*/.history
*/.externalToolBuilders
*/.cdtproject
*/.cproject
*/.launch
*/.loadpath
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.settings
*/.project
*/.classpath
*/.factorypath
*/.metadata
*/.recommenders
*/.cache
*/.history
*/.externalToolBuilders
*/.cdtproject
*/.cproject
*/.launch
*/.loadpath
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.settings
*/.project
*/.classpath
*/.factorypath
*/.metadata
*/.recommenders
*/.cache
*/.history
*/.externalToolBuilders
*/.cdtproject
*/.cproject
*/.launch
*/.loadpath
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.settings
*/.project
*/.classpath
*/.factorypath
*/.metadata
*/.recommenders
*/.cache
*/.history
*/.externalToolBuilders
*/.cdtproject
*/.cproject
*/.launch
*/.loadpath
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.settings
*/.project
*/.classpath
*/.factorypath
*/.metadata
*/.recommenders
*/.cache
*/.history
*/.externalToolBuilders
*/.cdtproject
*/.cproject
*/.launch
*/.loadpath
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper